<h1>New Image</h1>

<%= form_for :image, url: images_path do |f| %>

  <% if @image.errors.any? %>
    
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    
  <% end %>
  
  <p>
    <%= f.label :name %>
  </p>
  
  <p>
    <%= f.text_field :name %>
  </p>
  
  <p>  
    <%= f.label :source %>
  </p>
  
  <p>  
    <%= f.file_field :source %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
    
<% end %>

<%= link_to 'Back', images_path %>